.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../img/background.avif");
  background-size: cover;
  opacity: 0.95;
  height: 100vh;
  color: white;
}

.pogobuff-heading {
  width: 30%;
  height: 30%;
  margin: 5% auto 2% auto;
}
