h6 {
  margin: 0;
  font-weight: 100;
}

.current-stats {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.elo-display {
  display: flex;
  align-items: center;
}

.elo-info {
  display: flex;
  flex-direction: column;
  padding: 0 0 25px 10px;
}

.enter-elo {
  display: flex;
}

.edit-elo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.player-badge {
  display: flex;
  flex-direction: column;
}

.player-tag {
  font-size: 12px;
}

@media (max-width: 750px) {
  .current-stats {
    flex-direction: column;
  }
  .elo-info {
    flex-direction: column;
  }
}
