h6 {
  margin: 0;
  font-weight: 100;
}

.current-stats {
  display: flex;
  justify-content: space-evenly;
  padding-top: 25px;
}

.elo-display {
  display: flex;
  align-items: center;
}

.elo-info {
  display: flex;
  flex-direction: column;
  padding: 0 0 25px 20px;
}

.enter-elo {
  display: flex;
}

.edit-elo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.MuiInput-underline::before,
div.MuiInput-underline::after {
  border-bottom-color: white;
}

div.tlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: white;
}

label.MuiInputLabel-root,
label.MuiInputLabel-root.Mui-focused {
  color: white;
}

.MuiOutlinedInput-notchedOutline[aria-hidden="true"] {
  border-color: white !important;
}

.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiSelect-icon.MuiSelect-iconOutlined.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon,
.MuiSelect-select.MuiSelect-outlined.MuiInputBase-input.MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  color: white;
}

.player-badge {
  display: flex;
  flex-direction: column;
  flex: 0.2;
}

.player-tag {
  font-size: 12px;
  margin-bottom: 15px;
}

@media (max-width: 750px) {
  .current-stats {
    flex-direction: column;
  }
  .elo-info {
    flex-direction: column;
  }
  .player-badge {
    width: 40%;
  }
}
