.add-set,
.battle-day,
.remove-all {
  display: flex;
  margin: auto;
  padding: 1em;
}

.set-options {
  display: flex;
}

.set-page {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

@media (max-width: 750px) {
  .set-options {
    flex-direction: column;
  }
}
