.set-data-box {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(4, auto);
  gap: 1em;
  flex-wrap: wrap;
}

.set-data-inner {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #f8f8f8;
  border-radius: 7px;
}

.set-data-inner:hover {
  background-color: #f1f1f1;
}

.set-data-edit {
  display: flex;
}

@media (max-width: 1700px) {
  .set-data-box {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 1300px) {
  .set-data-box {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 900px) {
  .set-data-box {
    grid-template-columns: repeat(1, auto);
  }

  .set-data-inner {
    padding: 0;
  }
}
