.set-data-box {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(4, auto);
  flex-wrap: wrap;
}

.set-data-inner {
  padding: 30px;
}

@media (max-width: 1100px) {
  .set-data-box {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 500px) {
  .set-data-box {
    grid-template-columns: repeat(1, auto);
  }

  .set-data-inner {
    padding: 0;
  }
}
