.set-data-box {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(4, auto);
  gap: 1em;
  flex-wrap: wrap;
  margin-top: 10px;
}

.set-data-inner {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 7px;
}

.set-data-inner:hover {
  background-color: #f1f1f1;
}

.set-data-edit {
  display: flex;
}

.set-winnable {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 230px;
  font-size: 12px;
  padding-bottom: 10px;
}

.winnable-input > input {
  border: 1px;
  padding: 0;
  font-size: inherit;
  box-sizing: border-box;
  width: 30px;
}

.wincon-button:hover {
  cursor: pointer;
}

@media (max-width: 1700px) {
  .set-data-box {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 1300px) {
  .set-data-box {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 900px) {
  .set-data-box {
    grid-template-columns: repeat(1, auto);
  }

  .set-data-inner {
    padding: 0;
  }
}
