.nav-bar {
  display: flex;
  background-color: #282c34;
  color: #ffffff;
}

.nav-list {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-evenly;
  margin: auto;
  text-decoration: none;
}

li {
  list-style-type: none;
  font-size: 16px;
}

li:hover {
  opacity: 0.9;
}
