.candy-page {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.candy-container {
  margin: 0 auto;
}

.candy-container > h6 {
  margin-top: 25px;
}

.candy-pokes {
  display: flex;
  flex-direction: column;
  margin: 100px auto;
}

.current-candy,
.current-candyXL {
  display: flex;
  align-items: center;
}

.MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-colorPrimary.MuiInputBase-adornedStart.css-1tcs2i1-MuiInputBase-root-MuiInput-root,
.MuiInputBase-input.MuiInput-input.css-1x51dt5-MuiInputBase-input-MuiInput-input {
  color: white;
}

.candy-image {
  height: 40px;
  width: 40px;
  padding: 10px;
}

.list-items {
  display: flex;
  align-items: center;
}
